[heater_bed]
sensor_type : Generic 3950

[probe]
z_offset:-0.2
samples_result: average #weighted

[resonance_tester]
hz_per_sec:2 #4

[!gcode_macro M486]

[virtual_sdcard]
!enable_continue_print:

[!timelapse]

[!filament_hub]

[!ota_filament_hub]

[mcu]
!fw_max_size:
!fw_sector_size:
!fw_ota_sector_offset:

[mcu nozzle_mcu]
!fw_max_size:
!fw_sector_size:
!fw_ota_sector_offset:

[printer]
!min_accel:
!min_accel_Z_ratio:
!max_jerk:
!device_type:
!print_size:

[extruder]
!min_safe_temp :
!max_safe_temp :

[heater_bed]
!min_safe_temp :
!max_safe_temp :

[probe]
!final_speed :
!cali_adc_val:
!calibration_left_position:
!calibration_right_position:
!bed_mesh_error_pos:

[safe_z_home]
!custom_home_xy_re_position:

[!led_pin]

[pid_calibrate]
!homing_first:
!move_xy_position:
!move_z_up:

[!lis2dw12]

[!lis2dw12 bed]

[resonance_tester]
!test_freq_start:
!test_freq_end:

[pause_resume]
!pause_position:
!z_up:
!bee_path:

[!leviQ3]

[!cs1237]

[!flow_calibration]

[!printer_marco]

# Unknown config object 'lis2dw12'
[!resonance_tester]
