name: Build apps

on:
  workflow_dispatch:

jobs:

  build-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/example"
      - uses: actions/upload-artifact@v4
        with:
          name: app-example.swu
          path: |
            build/dist/update-*.swu

  build-octoapp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/octoapp"
      - uses: actions/upload-artifact@v4
        with:
          name: app-octoapp.swu
          path: |
            build/dist/update-*.swu

  build-cloudflare-tunnel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/cloudflare-tunnel"
      - uses: actions/upload-artifact@v4
        with:
          name: app-cloudflare-tunnel.swu
          path: |
            build/dist/update-*.swu
            
  build-tailscale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/tailscale"
      - uses: actions/upload-artifact@v4
        with:
          name: app-tailscale.swu
          path: |
            build/dist/update-*.swu
            
  build-discovery-helper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/discovery-helper"
      - uses: actions/upload-artifact@v4
        with:
          name: app-discovery-helper.swu
          path: |
            build/dist/update-*.swu

  build-vanilla-klipper: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm -v ${{ github.workspace }}/build:/build -v ${{ github.workspace }}/apps:/apps ghcr.io/jbatonnet/rinkhals/build /bin/bash -c "chmod +x /build/build-swu.sh && /build/build-swu.sh /apps/vanilla-klipper"
      - uses: actions/upload-artifact@v4
        with:
          name: app-vanilla-klipper.swu
          path: |
            build/dist/update-*.swu
            